.about-us {
}

.card-aboutUs {
  padding: 45px;

  width: 100%;
  border: 1px solid #F1F0E8;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.11);

  &__content {
    padding-bottom: 25px;
  }

  &__title {
    margin-bottom: 25px;
    text-align: center;
  }

  &__text-title {
    margin-bottom: 15px;
  }

  &__text {
    margin-bottom: 15px;
    line-height: 1.5;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
