.accordion {
  &__tab {
    //F1F0E8
    margin-bottom: 15px;
    border: 1px solid #F1F0E8;
    display: block;
  }

  &__input {
    display: none;
    position: absolute;
    visibility: hidden;
    left: 50%;
    top: 50%;
    z-index: 1;

    &:checked ~ .accordion__header > .accordion__icon {
      transform: rotate(90deg);
    }

    &:checked ~ .accordion__content {
      display: block;
    }
  }

  &__header {
    padding: 23px 25px;
    position: relative;

    //@extend %display-flex;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    font-size: 24px;
    text-transform: uppercase;

    cursor: pointer;
    transition: background 0.2s;
    z-index: 2;
  }

  &__icon {
    min-width: 24px;
    width: 24px;
    height: 24px;
    fill: $--main;

    &--minus {
      display: none;
    }
  }

  &__content {
    padding: 0 20px 14px;
    display: none;

    line-height: 1.2;
  }
}

