.accordion {
  &__tab {
    margin-bottom: 15px;
    border: 1px solid $--main-lighter;
    background: $--gray;
    display: block;

    animation-name: slideDown;
    animation-duration: 1s;
    animation-timing-function: ease;
    visibility: visible !important;
  }

  &__input {
    display: none;
    position: absolute;
    visibility: hidden;
    left: 50%;
    top: 50%;
    z-index: 1;

    &:checked ~ .accordion__header > .accordion__icon {
      transform: rotate(90deg);
    }

    &:checked ~ .accordion__content {
      display: block;
    }
  }

  &__header {
    padding: 23px 25px;
    position: relative;

    @extend %display-flex;
    align-items: center;
    justify-content: space-between;

    font-size: 24px;
    text-transform: uppercase;

    cursor: pointer;
    transition: background 0.2s;
    z-index: 2;
  }

  &__title {
    max-width: 85%;
  }

  &__icon {
    min-width: 24px;
    width: 24px;
    height: 24px;
    fill: $--main;

    &--minus {
      display: none;
    }
  }

  &__content {
    padding: 0 20px 14px;
    display: none;

    line-height: 1.2;
    animation-name: slideDown;
    animation-duration: 1s;
    animation-timing-function: ease;
    visibility: visible !important;
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(8%);
  }
  65% {
    transform: translateY(-4%);
  }
  80% {
    transform: translateY(4%);
  }
  95% {
    transform: translateY(-2%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@media screen and (max-width: 768px) {
  .accordion {
    &__title {
      font-size: 18px;
    }
  }
}
