.footer {
  padding-top: 40px;
  padding-bottom: 80px;

  background: $--black;
  color: $--white;

  &__wrapper {
    padding-top: 35px;
    padding-bottom: 45px;

    @extend %display-flex;
    justify-content: space-around;
  }

  &__title {
    padding-bottom: 10px;
    margin-bottom: 25px;

    position: relative;

    &:after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;


      width: 70px;
      height: 5px;
      border-radius: 5px;
      background: $--main;
    }
  }

  &__logo {
    .logo {
      padding: 0;
    }
  }

  &__nav-link {
    padding-bottom: 20px;
    display: block;

    color: $--white;
    font-size: 18px;
  }

  &__contact, &__contact > a {
    padding: 7px 0;

    display: block;
    color: $--white;

    &:not(.footer__contact):hover {
      color: $--main;
    }
  }

  &__contacts {
    max-width: 250px;
  }

  &__contact {
    display: flex !important;
    align-items: center;
  }

  &__contact-icon {
    margin-right: 8px;

    width: 18px;
    height: 18px;
    fill: $--main;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 0;

    &__wrapper {
      padding: 20px 0;
      flex-direction: column;
      align-items: center;
    }

    &__title {
      display: block;
      text-align: center;

      &:after {
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &__nav-link {
      text-align: center;
    }

    &__contacts {
      display: flex;
      flex-direction: column;
    }
  }
}
