.header-nav {
  display: block;
  padding: 0 15px;

  background: $--white;
  border-bottom: 5px solid rgba($--white, .25);

  .nuxt-link-active {
    color: $--main-darker;
  }

  &__wrapper {
    @extend %display-flex;
    justify-content: center;
    align-items: center;
  }

  &__list {
    margin: 25px auto;
    @extend %display-flex;
  }

  &__link {
    padding: 0 28px;
    display: block;

    font-size: 18px;
    font-family: 'Comfortaa', cursive;
  }

  &__i18n, &__i18n-btn {
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Comfortaa", cursive;
    color: $--black-text;
    font-size: 18px;
  }

  &__i18n-btn {
    margin: 0 10px;
    background: none;
    border: none;

    cursor: pointer;
  }
}

@media screen and (max-width: 992px) {
  .header-nav {
    display: none;
  }
}
