.mobile-menu {
  display: none;

  &--active {
    .mobile-menu__nav {
      transform: translateX(0);
    }
  }

  &__burger, &__btn-close {
    margin: 80px 25px 0 15px;

    position: absolute;
    top: 0;
    right: 0;

    background: none;
    border: none;
    cursor: pointer;
  }

  &__btn-close {
    margin-top: 50px;

    span {
      color: $--white;
      font-weight: 700;
      font-size: 45px;
    }

    &:hover {
      span {
        color: $--main;
      }
    }
  }

  &__nav {
    padding: 0px 15px 15px 15px;
    position: fixed;
    display: flex;
    width: 100%;

    flex-flow: column;
    overflow: auto;
    z-index: 20;

    height: 100%;
    transform: translateX(100%);
    top: 0;
    right: 0;

    background-color: $--black;
  }

  &__list {
    .nuxt-link-active {
      color: $--black-text;
      background: $--main;
    }
  }

  &__link {
    padding: 15px 35px;

    display: block;
    font-size: 18px;

    font-weight: 700;
    color: $--white;
  }

}

@media screen and (max-width: 992px) {
  .mobile-menu {
    display: block;
  }
}
