// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s linear;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.page-enter-active, .page-leave-active, {
  transition: opacity .3s;
}

.page-enter, .page-leave-active {
  opacity: 0;
}
