body {
  color: $--black-text;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 60px;
  font-family: 'Playfair Display', serif;
}

h2 {
  font-size: 48px;
  font-family: 'Playfair Display', serif;
}

h3 {
  font-size: 30px;
  font-family: 'Playfair Display', serif;
}

a {
  color: $--black-text;

  &:hover {
    color: $--main-darker;
  }
}

@media screen and (max-width: 992px) {
  h1 {
    font-size: 48px;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 34px;
  }
}
