$--black: #28364B;
$--black-darker: #000419;
$--black-text: rgba(40, 54, 75, 1);
$--black-light: rgba(40, 54, 75, .2);
$--gray: #F1F0E8;
$--gray-lighter: rgba(241, 240, 232, .5);
$--white: #FFFFFF;
$--main: #CEBD88;
$--main-darker: #b09f6a;
$--main-lighter: rgba(206, 189, 136, .5);
$--red: #E14C38;

$--font-main: 'Raleway';
$--font-headers: 'Comfortaa';
$--font-subheaders: 'Pinyon Script';
